%container-width{
    max-width:88%;
    @include media(">=desktop"){
        max-width:85%;
    }
    @include media(">=lg_desktop"){
        max-width:75%;
    }
}

%menu-link{
    color:$secondary;
    font-weight:600;
    font-size:1.15rem;
    line-height: 1.4;
}